name: Validate

on:
  schedule:
    # Run daily at 04:00 AM UTC
    - cron: '0 4 * * *'
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  validate:
    name: Validate
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Hassfest validation
        uses: home-assistant/actions/hassfest@master
      - name: HACS validation
        uses: hacs/action@main
        with:
          category: integration
          ignore: brands
